<div class="bl-modal bl-modal--sm" data-modal="5">
  <div class="bl-modal__body bl-modal__body--no-pg bl-modal__body--height">
    <div class="tabs">
      <div class="tabs__box">
        <ul class="tabs__list">
          <li class="tabs__item active">
            <button class="button tabs__link">Мои изображения</button>
          </li>
          <li class="tabs__item">
            <button class="button tabs__link">Библиотека изображений</button>
          </li>
        </ul>
        <div class="tabs__btn-box">
          <button class="tabs__btn button button--turquoise" type="button">Выбрать</button>
          <button class="tabs__btn button button--white js-bl-modal-close">Отмена</button>
        </div>
      </div>
      <div class="tabs__content scroll-content">
        <div class="tabs__panel active" data-index="0">
          <div class="tabs__content-inner">
            <div class="bl-gallery">
              <div class="bl-gallery__sidebar">
                список
              </div>
              <div class="bl-gallery__grid">
                <div class="bl-gallery__item">
                  <div class="box-pic-preview" style="background-image: url('img/widget-preview/preview-text-bl.jpg')">
                    <div class="box-pic-preview__inner">
                      <button class="button box-pic-preview__btn" aria-label="Удалить">
                        <svg class="box-pic-preview__icon" width="15" height="15">
                          <use xlink:href="img/sprite.svg#icon-basket-2"></use>
                        </svg>
                      </button>
                      <div class="box-pic-preview__info">
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__name">form3_band.jpg</div>
                          <div class="box-pic-preview__format">1920x540 px</div>
                        </div>
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__size">4 107 KB</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bl-gallery__item active">
                  <div class="box-pic-preview" style="background-image: url('img/widget-preview/preview-text-bl.jpg')">
                    <div class="box-pic-preview__inner">
                      <button class="button box-pic-preview__btn" aria-label="Удалить">
                        <svg class="box-pic-preview__icon" width="15" height="15">
                          <use xlink:href="img/sprite.svg#icon-basket-2"></use>
                        </svg>
                      </button>
                      <div class="box-pic-preview__info">
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__name">form3_band.jpg</div>
                          <div class="box-pic-preview__format">1920x540 px</div>
                        </div>
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__size">4 107 KB</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bl-gallery__item">
                  <div class="box-pic-preview" style="background-image: url('img/widget-preview/preview-text-bl.jpg')">
                    <div class="box-pic-preview__inner">
                      <button class="button box-pic-preview__btn" aria-label="Удалить">
                        <svg class="box-pic-preview__icon" width="15" height="15">
                          <use xlink:href="img/sprite.svg#icon-basket-2"></use>
                        </svg>
                      </button>
                      <div class="box-pic-preview__info">
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__name">form3_band.jpg</div>
                          <div class="box-pic-preview__format">1920x540 px</div>
                        </div>
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__size">4 107 KB</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bl-gallery__item">
                  <div class="box-pic-preview" style="background-image: url('img/widget-preview/preview-text-bl.jpg')">
                    <div class="box-pic-preview__inner">
                      <button class="button box-pic-preview__btn" aria-label="Удалить">
                        <svg class="box-pic-preview__icon" width="15" height="15">
                          <use xlink:href="img/sprite.svg#icon-basket-2"></use>
                        </svg>
                      </button>
                      <div class="box-pic-preview__info">
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__name">form3_band.jpg</div>
                          <div class="box-pic-preview__format">1920x540 px</div>
                        </div>
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__size">4 107 KB</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bl-gallery__item">
                  <div class="box-pic-preview" style="background-image: url('img/widget-preview/preview-text-bl.jpg')">
                    <div class="box-pic-preview__inner">
                      <button class="button box-pic-preview__btn" aria-label="Удалить">
                        <svg class="box-pic-preview__icon" width="15" height="15">
                          <use xlink:href="img/sprite.svg#icon-basket-2"></use>
                        </svg>
                      </button>
                      <div class="box-pic-preview__info">
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__name">form3_band.jpg</div>
                          <div class="box-pic-preview__format">1920x540 px</div>
                        </div>
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__size">4 107 KB</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bl-gallery__item">
                  <div class="box-pic-preview" style="background-image: url('img/widget-preview/preview-text-bl.jpg')">
                    <div class="box-pic-preview__inner">
                      <button class="button box-pic-preview__btn" aria-label="Удалить">
                        <svg class="box-pic-preview__icon" width="15" height="15">
                          <use xlink:href="img/sprite.svg#icon-basket-2"></use>
                        </svg>
                      </button>
                      <div class="box-pic-preview__info">
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__name">form3_band.jpg</div>
                          <div class="box-pic-preview__format">1920x540 px</div>
                        </div>
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__size">4 107 KB</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bl-gallery__item">
                  <div class="box-pic-preview" style="background-image: url('img/widget-preview/preview-text-bl.jpg')">
                    <div class="box-pic-preview__inner">
                      <button class="button box-pic-preview__btn" aria-label="Удалить">
                        <svg class="box-pic-preview__icon" width="15" height="15">
                          <use xlink:href="img/sprite.svg#icon-basket-2"></use>
                        </svg>
                      </button>
                      <div class="box-pic-preview__info">
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__name">form3_band.jpg</div>
                          <div class="box-pic-preview__format">1920x540 px</div>
                        </div>
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__size">4 107 KB</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bl-gallery__item">
                  <div class="box-pic-preview" style="background-image: url('img/widget-preview/preview-text-bl.jpg')">
                    <div class="box-pic-preview__inner">
                      <button class="button box-pic-preview__btn" aria-label="Удалить">
                        <svg class="box-pic-preview__icon" width="15" height="15">
                          <use xlink:href="img/sprite.svg#icon-basket-2"></use>
                        </svg>
                      </button>
                      <div class="box-pic-preview__info">
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__name">form3_band.jpg</div>
                          <div class="box-pic-preview__format">1920x540 px</div>
                        </div>
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__size">4 107 KB</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bl-gallery__item">
                  <div class="box-pic-preview" style="background-image: url('img/widget-preview/preview-text-bl.jpg')">
                    <div class="box-pic-preview__inner">
                      <button class="button box-pic-preview__btn" aria-label="Удалить">
                        <svg class="box-pic-preview__icon" width="15" height="15">
                          <use xlink:href="img/sprite.svg#icon-basket-2"></use>
                        </svg>
                      </button>
                      <div class="box-pic-preview__info">
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__name">form3_band.jpg</div>
                          <div class="box-pic-preview__format">1920x540 px</div>
                        </div>
                        <div class="box-pic-preview__item">
                          <div class="box-pic-preview__size">4 107 KB</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel" data-index="1">
          <div class="tabs__content-inner">
            2
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
