.button {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;

  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  border: none;

  outline: none;
  background: transparent;



  &--gray {
    @include rem(padding, 5px 10px);

    background: $color-gray;
    color: #ffffff;
  }
  &--plus {
    background: transparent;

  }
  &--turquoise {
    @include rem(padding, 5px 10px);
    background: $color-turquoise;

    color: #ffffff;
  }
  &--white {
    @include rem(padding, 5px 10px);
    background: #ffffff;
    color: $color-turquoise;
    border: 1px solid $color-turquoise;
  }
}
