.button {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  text-decoration: none;

  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  border: none;

  outline: none;

  background: $color-turquoise;
  @include rem(padding, 5px 10px);
  color: #ffffff;

  &--gray {
    background: $color-gray;
  }
}
