.main-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  @include rem(min-height, 50px);
  @include rem(padding, 10px);

  background: #000000;

  &__link {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
  }

  &__icon {
    @include rem(padding, 5px);
    @include rem(margin-right, 10px);
    background: $color-gray;
  }
}
